<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id        = "gov.lbl.physics"
		versionCode="7"
		version   = "7.0.0">
		<name>The Particle Adventure</name>
		<description>
The Particle Adventure (at http://ParticleAdventure.org) is an interactive introduction to the world of quarks, the Higgs boson,  neutrinos, antimatter, the fundamental forces, extra dimensions, dark matter, accelerators and particle detectors.		</description>
		<author href="http://www.lbnl.gov" email="pdschaffner@lbl.gov">
Paul Schaffner
		</author>
		<icon src="icon.png" />


		<preference name="permissions" value="none"/>

    	<!-- to enable individual permissions use the following examples -->
    
    	<feature name="InAppBrowser">
  		<param name="android-package" value="org.apache.cordova.InAppBrowser"/>
		</feature>
		
		
		
		<preference name="phonegap-version" value="3.5.0" />
		<preference name="fullscreen" value="false" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="false" />
		<preference name="stay-in-webview" value="false" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="false" />
		<preference name="BackupWebStorage" value="cloud" />
		<preference name="TopActivityIndicator" value="gray" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="false" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="android-minSdkVersion" value="7" />
		<preference name="android-installLocation" value="internalOnly" />
		<preference name="SplashScreenDelay" value="3000" />
		<preference name="ErrorUrl" value=""/>
		<preference name="BackgroundColor" value=""/>
		<preference name="KeepRunning" value="true"/>
		<preference name="DisallowOverscroll" value="false"/>
		<preference name="LoadingDialog" value=","/> 
		<preference name="LoadUrlTimeoutValue" value="20000" />
		<preference name="disable-cursor" value="false" />
		
		<gap:platform name="ios" />
		<gap:platform name="android" />
		<gap:plugin name="org.apache.cordova.inappbrowser"  />
		<feature name="http://api.phonegap.com/1.0/network"/>
		<feature name="InAppBrowser">
  		<param name="android-package" value="org.apache.cordova.InAppBrowser"/>
		</feature>
		<gap:plugin name="org.apache.cordova.network-information"  />
		<icon src="icon.png" />
		
		<gap:plugin name="com.phonegap.plugin.statusbar"  version="1.1.0" />
		<gap:plugin name="net.tunts.webintent"  version="0.2.1" />
		<gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
		<gap:config-file platform="ios" parent="UIStatusBarHidden">
		<true/>
		</gap:config-file>
		<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
		<false/>
		</gap:config-file>
	
		<access origin="*"/>
	</widget>